@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    margin : 0;
    padding : 0;
    box-sizing:border-box;
    background-color:black;
}
button:hover{
    transform:scale(1.05);
}
header{
    display:flex;
    margin-top:8px;
    margin-left:20px;
    padding-right:5px;
    margin-bottom:10px;
}

.spotify-icon img{
    margin:5px;
    height:33px;
}
.home-icon{
    border-radius:50%;
    background-color: rgb(31,31,31);
    height:38px;
    width:38px;
    padding:3px;
    margin-left:20px;
}
.home-icon img{
    height:26px;
    width:26px;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.search-bar{
    position:relative;
    width:28vw;
    height:45px;  
    margin-left:7px;
}
.nav-left .search-bar input{
    position:absolute;
    top:0px;
    border:none;
    outline : none;
    border-radius:25px;
    background-color:rgb(31,31,31);
    width:100%;
    height:100%; 
    color:white;
    font-family: "ubuntu";
    padding-left: 50px;
}
.nav-left .search-bar img:first-child{
    position:absolute;
    height:25px;
    width:25px;
    z-index:1;
    top:12.5px;
    left:15px;
}
.nav-left .search-bar input::placeholder{
    position:absolute;
    top:15px;
    left:50px;
    font-size:1rem;
}
.nav-left .search-bar .browse-icon{
    position: absolute;
  right:-30px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-left:1px solid rgb(179,179,179);
  padding-left:7px;
}


.nav-right{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-right button{
    background-color:black;
    color:rgb(179,179,179);
    border:none;
    font-size:1rem;
    font-weight: 700;
}
.nav-right .install-button img{
    height:15px;
    width:15px;

}
.nav-right .install-button{
    font-size:0.9rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    border-left:1px solid white;
    height:50%;
    margin-left:20px;
    padding-left:40px;
    white-space:nowrap;
}
.nav-right .sign-up{
    font-size:0.9rem;
    margin-left:12px;
}
.nav-right .log-in{
    background-color:white;
    color:black;
    border-radius:23px;
    padding:10px;
    width:110px;
    height:45px;
    margin-left:6px;
}
/* header styling ending */
main{
    display:flex;
}
aside{
    width:27%;
    background-color: rgb(18,18,18);
    border-radius: 20px;
    color:white;
    font-family:'ubuntu';
    margin-left:0.5rem;
}
aside .header{
    margin-left:0.5rem;
    margin-right:0.6rem;
    display:flex;
    justify-content: space-between;
    margin-bottom:1.1rem;
}
aside .header img{
    width:1.1rem;
}
aside main{
    max-height:16.5rem;
    width:97%;
    margin:auto;
    overflow-y: auto;
}
aside main .box{
    width:95%;
    height: 9rem;
    background-color:rgb(35,35,35);
    border-radius:10px;
    padding-left:0.8rem;
    flex-shrink:0;
}
aside main .box1{
    margin-bottom:1rem;
}
aside main .box button{
    border-radius:20px;
    border:none;
    padding:0.6em;
    
} 
aside main::-webkit-scrollbar{
    background-color: transparent;
    display:none;
}
aside main:hover::-webkit-scrollbar{
    display:block;
    scrollbar-width:thin;
}
aside main:hover::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179); 
}
aside main::-webkit-scrollbar-track{
    background-color:transparent;
    
}
aside footer ul{
    margin-top:2rem;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    font-size:0.7rem;
    column-gap:1rem;
    color:rgb(179,179,179);
    margin-left:-1.3rem;
    row-gap:1rem;
    margin-right:2rem;
}
aside footer p{
    font-size:0.8rem;
    margin-left:1.2rem;
}
aside footer .lang-button{
    width:5.5rem;
    color:white;
    background-color:transparent;
    border-radius:20px;
    border:1px solid white;
    padding-left:0.3rem;
    margin:2rem 0rem 2rem 1rem;
}
aside footer .lang-button img{
    width:1.2rem;
    padding:0.2rem 0.7rem 0.2rem 0rem;
}
section{
    width:calc(100% - 27%);
    background-color:rgb(18,18,18);
    border-radius:20px;
    margin-right:0.35rem;
    margin-left:0.5rem;
    position:relative;
    overflow-y:scroll;
}
section::-webkit-scrollbar{
    display:none;
}
.trending-songs{
    /* border:3px solid black; */
    max-width:calc(100%-0.85rem);
    height:26.5rem;
    overflow-y: auto;
    /* background-color:rgb(35,35,35); */
    margin-top:1rem;
    margin-left:2rem;
}
.trending-songs::-webkit-scrollbar{
    display:none;
}
.trending-songs-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left:5px;
    padding-right:1.2rem;
    font-family:'ubuntu';
}
.trending-songs-title button{
    color:rgb(179,179,179);
    border:none;
    background-color:transparent;
}
.trending-songs-cards-container{
    display:flex;
    justify-content: start;
    align-items: center;
    column-gap:20px;
    padding-left:5px;
    overflow-x:auto;
    position:relative;
}
.trending-songs-cards-container::-webkit-scrollbar{
    display:none;
}
.trending-songs-cards-container .scrollbar-icon-left{
    position:fixed;
    border-radius:50%;
    border:none;
    background-color:rgb(31,31,31);
    padding:5px;
    top:245px;
    margin-left:8px;
    visibility:hidden;
    z-index:1;
}
.trending-songs-cards-container .scrollbar-icon-left img{
    width:20px;
    height:20px;
}
.trending-songs-cards-container .scrollbar-icon-right{
    position:fixed;
    border-radius:50%;
    border : none;
    background-color:rgb(31,31,31);
    padding:5px;
    top:245px;
    right:0px;
    margin-right:15px;
    visibility:hidden;
}
.trending-songs-cards-container:hover .scrollbar-icon-right{
    visibility:visible;
}
.trending-songs-cards-container .scrollbar-icon-right img{
    width:20px;
    height:20px;
    
}
.trending-songs-cards-container .eachcard{
    position:relative;
}
.trending-songs-cards-container .eachcard button{
    background-color:#3be477;
    border-radius:50%;
    border:none;
    padding:10px;
    position:absolute;
    bottom:50px;
    right:6px;
    visibility:hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 8px 0px;
    /* transition : transform 5s ease-in 0s; */
}
.trending-songs-cards-container .eachcard:hover button{
    transform:translateY(-45px);
    visibility:visible;
    
    
}
.trending-songs-cards-container .eachcard button img{
    width:22px;
    height:22px;
}

.trending-songs-cards-container .eachcard img{
    width:171.5px;
    border-radius:10px;
}
.trending-songs-cards-container .eachcard p:nth-of-type(1) {
    color:white;
}
.trending-songs-cards-container .eachcard p:nth-of-type(2) {
    color:rgb(179,179,179);
}
.signadd{
    width:99%;
    margin:1rem auto 0 auto;
    color:white;
    background-image:linear-gradient(90deg, rgb(175, 40, 150), rgb(80, 155, 245));
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.signadd .left{
    font-size:1rem;
    padding-top:0.1rem;
    padding-left:1rem;
    line-height: 5px;
    padding-bottom:0.7rem;
}
.signadd .right button{
    font-size:1rem;
    background-color:white;
    border-radius:20px;
    border:none;
    padding:0.7rem;
    width:10rem;
    margin-right:17px;
}
.playpausebar{
    width:98%;
    height:80px;
    background-color:rgb(35,35,35);
    /* background-color: #3be477; */
    position:absolute;
    bottom:8px;
    margin-left:10px;
    margin-right:10px;
    border-radius:20px;
    opacity: 0.6;
    display:flex;
    justify-content: center;
    align-items: center;
}
.eachcard p{
    font-family:'ubuntu';
}
.mainplaybuttons{
    border:none;
    background-color: transparent;

}
.mainplaybuttons img{
    /* position:absolute; */
    height:29px;
    width:29px;
    border-radius:50%;
    border:none;
    background-color:cornsilk;
    margin:5px;
}
.volumeicon img{
    width:20px;
    height:20px;
}
.volumeicon{
    width:25px;
    height:25px;
    background-color:cornsilk;
    border-radius:50%;
    border:none;
    padding:5px;
}
.rangediv{
    position:absolute;
    right:100px;
}
.rangedivinner{
    position:relative;
    /* background-color: yellow; */
} 
.mainplaypause img{
    width:32px;
    height:32px;
    margin:20px;
}

.sliderrange{
    appearance:none;
    width:60px;
    height:2px;
    border-radius:20px;
    margin-bottom:-3px;

}
.sliderrange::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance:none;
    background:green;
    height:15px;
    width:15px;
    border-radius: 50%;
}
.mainsliderdiv{
    /* background-color: aqua; */
    position:relative;
    height:20px;
    top:8px;
    display:flex;
    flex-direction: column;
}
.mainsliderdiv:hover .slideroutput{
    visibility:visible;
}
.slideroutput{
    margin-top:10px;
    border:none;
    font-size:1rem;
    color:cornsilk;
    visibility:hidden;
    position:absolute;
    transform:translateX(-50%);
    left:50%;
}

#songname{
    background-color:transparent;
    width:150px;
    height:30px;
    border-radius:15px;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    /* font-weight:bold; */
    color:white;
    font-family:'ubuntu';
    overflow:visible;
    position :relative;
    overflow : hidden;
    margin-right:5px;
}
#songname div:hover{
    animation-play-state: paused;
}
#songname div{
    width:200%;
    position:absolute;
    animation : reverse-marquee 5s linear infinite;
}
#songname span{
    width:50%;
    white-space: nowrap;
    float: left;
}
@keyframes reverse-marquee {
    0%{
        right :0;
    }
    100%{
        right: -100%;
    }
    
}
.songrange{
    position:absolute;
    left: 20px;
}
.songrangebardiv{
    display:flex;
    flex-direction: column;
    position:relative;
}
.songrangeoutput{
     margin-top:10px;
    border:none;
    font-size:1rem;
    color:cornsilk;
    visibility:hidden;
    position:absolute;
    transform:translateX(-50%);
    left:50%;
}
#songrangebar{
    appearance:none;
    width:100px;
    height:4px;
    border-radius:20px;
    margin-bottom:-3px;
}
.songrangebardiv:hover .songrangeoutput{
    visibility:visible;
}
#songrangebar::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance:none;
    background:green;
    height:15px;
    width:15px;
    border-radius: 50%;
}
